/* Importando tipografia */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    resize: none;
}

/* Variaveis CSS */
:root {
    --font_mont: 'Montserrat', sans-serif;
    --font_barlow: 'Barlow Semi Condensed', sans-serif;
    --verde: #97b382;
    --branco_pastel: #EEE5DA;
}

/*------ Classe de alinhamento ------*/
.alinhamento {
    width: 1440px;
    margin: 0 auto;
}

/*------ Cabeçalho ------ */
header {
    background-color: var(--verde);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
    list-style: none;
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font_mont);
    font-weight: 800;
}

.menu a:hover {
    border-bottom: 2px solid var(--branco_pastel);
    color: var(--branco_pastel);
}

/*------ Quem somos? ------*/
main {
    background-color: var(--branco_pastel);
}

h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

.quem_somos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.primeira_foto {
    width: 800px;
    height: 450px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
}

.sobre {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.sobre_titulo {
    font-family: var(--font_mont);
    font-size: 50px;
    font-weight: bold;
}

.sobre_texto {
    font-family: var(--font_mont);
    font-size: 25px;
}

.btn_esg {
    background: var(--verde);
    border-radius: 30px;
    width: 250px;
    height: 60px;
    font-size: 25px;
    box-shadow: 5px 5px 40px 5px rgba(0, 0, 0, 0.4);
}

.btn_esg a {
    text-decoration: none;
    color: white;
}

/*--- Data ---*/
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font_mont);
    font-size: 80px;
    color: var(--branco_pastel);
    background-color: var(--verde);
    padding: 100px;
}

span {
    text-transform: uppercase;
}

/* ---Imagens--- */
.imagens {
    background-color: var(--verde);
    padding-bottom: 100px;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imgs>* {
    width: 475px;
    border-radius: 50px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
}

/*--- ESG ---*/
.esg {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.sobre_esg {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sobre_esg_titulo {
    font-family: var(--font_mont);
    font-size: 55px;
    font-weight: bold;
}

.sobre_esg_texto {
    font-family: var(--font_mont);
    font-size: 26px;
}

.esg img {
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
    width: 800px;
    height: 600px;
}

/* --Formulário-- */
.formulario {
    background-color: var(--verde);
    padding: 100px 0;
}

.formulario_titulo {
    text-align: center;
    font-family: var(--font_mont);
    font-size: 60px;
    color: var(--branco_pastel);
    margin: 15px;
}

form {
    color: white;
    font-family: var(--font_mont);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
}

label {
    font-size: 25px;
}

input {
    height: 35px;
    padding: 20px;
}

textarea {
    padding: 20px;
}

.borda {
    border: 1px solid var(--branco_pastel);
    border-radius: 15px;
}

.btn_forms {
    background: white;
    border: var(--branco_pastel);
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: var(--verde);
    margin: 0 auto;
}

/*--- Contato ---*/
.mapa {
    width: 580px;
}

.contato {
    padding: 100px 0;
}

.contato_titulo {
    font-family: var(--font_mont);
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px
}

.conteudo_contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.borda_mapa {
    border: 5px solid var(--verde);
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center
}

.contato_info {
    font-family: var(--font_mont);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.info i {
    margin-right: 20px;
    color: var(--verde);
}

/* --- Footer--- */
footer {
    background-color: var(--verde);
    color: #fff;
    font-family: var(--font_mont);
    font-size: 19px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ---Responsividade--- */
/* Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px */
@media screen and (max-width: 1440px) {
    #burguer {
        display: none;
    }

    .alinhamento {
        width: 100%;
    }

    nav {
        padding: 0 50px;
    }

    .quem_somos {
        padding: 100px 50px;
    }

    .sobre {
        max-width: 500px;
    }

    .imgs {
        flex-wrap: wrap;
    }

    .esg {
        padding: 100px 50px;
    }

    .sobre_esg_texto {
        font-size: 26px;
    }

    .esg img {
        width: 700px;
        height: 565px;
    }
}

@media screen and (max-width: 1200px) {
    .primeira_foto {
        width: 600px;
        height: 430px;
    }

    .esg img {
        width: 600px;
        height: 500px;
    }

    .sobre_esg_texto {
        font-size: 22px;
    }

    .sobre_esg {
        width: 480px;
    }
}

@media screen and (min-width: 900px) {
    #burguer {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .quem_somos {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .sobre {
        margin-top: 30px;
    }

    .data {
        font-size: 60px;
    }

    .esg {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .sobre_esg {
        width: 600px;
    }

    .conteudo_contato {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .esg img {
        height: 450px;
        width: 650px;
    }
}

@media screen and (max-width: 768px) {
    #burguer {
        display: block;
        color: #ffffff;
        font-size: 55px;
    }

    #itens {
        position: absolute;
        /* (viewPort height) */
        height: 92vh;
        /* (viewPort width) */
        width: 50vw;
        top: 16vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--verde);
        gap: 50px;
    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    .quem_somos {
        flex-direction: column;
    }

    .sobre {
        margin-top: 30px;
    }

    .data {
        font-size: 40px;
    }

    .imgs {
        gap: 50px;
    }

    .esg {
        flex-direction: column;
        align-items: center;
    }

    .sobre_esg {
        width: 50%;
    }

    .sobre_esg_titulo {
        font-size: 40px;
        font-weight: bold;
    }

    .sobre_esg_texto {
        font-size: 20px;
    }

    .esg img {
        height: 350px;
        width: 550px;
    }

    .formulario_titulo {
        text-align: center;
        font-family: var(--font_mont);
        font-size: 55px;
        color: var(--branco_pastel);
        margin: 20px;
    }

    .container {
        margin: 1%;
    }
}

@media screen and (max-width: 580px) {
    #burguer {
        display: block;
        color: #ffffff;
        font-size: 55px;
    }

    #itens {
        position: absolute;
        /* (viewPort height) */
        height: 92vh;
        /* (viewPort width) */
        width: 50vw;
        top: 16vh;
        right: 0;
        flex-direction: column;
        align-items: center;
        background-color: var(--verde);
        gap: 50px;
    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    .data {
        font-size: 30px;
    }

    .esg img {
        width: 400px;
        height: 300px;
    }

    .mapa {
        width: 400px;
    }

    .borda_mapa {
        width: 480px;
    }

    .conteudo_contato {
        align-items: center;
        justify-content: center;
    }

    .sobre_esg_titulo {
        font-size: 30px;
        font-weight: bold;
    }

    .formulario_titulo {
        font-size: 40px;
    }

    .primeira_foto {
        width: 400px;
        height: 330px;
    }
}
@media screen and (max-width: 400px){
    #burguer {
        display: block;
        color: #ffffff;
        font-size: 55px;
    }
}